--extra-index-url https://download.pytorch.org/whl/cpu
torch

fastapi
uvicorn[standard]
sqlalchemy>=2.0
alembic
pydantic>=2.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
psycopg2-binary
python-dotenv
python-multipart
email-validator
chromadb-client
apscheduler
sentence-transformers
pypdf
python-docx
nltk
langchain-text-splitters
langchain
langchain-community
langchain-classic
langchain-groq
groq
rank_bm25
langsmith
